.blink {
  animation: blink 0.75s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	display: flex;
}
.header-sub-title {
	right: 50%
  color: #ffffff;
  font-size: 25px;
}
.footer	{
	position: absolute;
	bottom: 8px;
	right: 16px;
}
