.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	display: flex;
}
.header-sub-title {
  color: #ffffff;
  font-family: "Aerial";
  font-size: 25px;
  padding: 0.1em;
}
.footer	{
	position: absolute;
	bottom: 8px;
	right: 16px;
}
