.typewriter {
     font-family: Aerial, monospace;
     display: inline-block;
}
 .typewriter-text {
     display: inline-block;
     overflow: hidden;
     letter-spacing: 4px;
     animation: typing 3s steps(30, end), blink .75s step-end infinite;
     white-space: nowrap;
     font-size: 25px;
     font-weight: 700;
     border-right: 4px solid white;
     box-sizing: border-box;
}
 @keyframes typing {
     from {
         width: 0% 
    }
     to {
         width: 100% 
    }
}
 @keyframes blink {
     from, to {
         border-color: transparent 
    }
     50% {
         border-color: white;
    }
}

.footer	{
	position: absolute;
	bottom: 8px;
	right: 16px;
